.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

a{color: black !important}

.mycard{margin-top: 30px;}


 /* label underline focus color */
 .input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252);

  
}

.gallery
{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}

.item{
  width: 30%;
}

.home-card
{
  /* max-width: 500px; */
  height: max-content;
  margin: 30px;
  padding: 30px;
}

#toast-container{
  top:30px !important;
  right: 20px !important;
  left:auto !important;
}

body,
input,
select,
button,
textarea {
  /* font-family: Montserrat, Helvetica, Arial, sans-serif; */
  font-size: 1.6rem;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}

main {
  grid-area: main;
}



.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
}

.navShadow{
  border: 0px solid;
  padding: 10px;
  box-shadow: 5px 10px white;
}


