.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.collection-list-wrapper-3 {
  display: inline-block;
}

.navbar-2 {
  background-color: #ffed73;
}

.navbar-2.aboutus-nav {
  height: 9.093577%;
  background-color: #fff;
}

.navbar-2.our-work-nav {
  background-color: transparent;
}

.navbar-2.branding-2-nav {
  margin-bottom: 50px;
  background-color: transparent;
}

.nav-link-3 {
  color: #252a38;
  text-align: center;
}

.nav-link-3.w--current {
  color: #252a38;
}

.container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand-2 {
  width: auto;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  width: 100px;
}

.nav-link {
  color: #252a38;
  text-align: center;
}

.nav-link.w--current {
  color: #252a38;
  text-decoration: none;
}

.nav-menu-2 {
  display: block;
  width: auto;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  height: auto;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-bottom: 1px;
  background-color: #ffed73;
}

.section.about-us-section {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 150px;
  background-color: transparent;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  padding: 100px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.aboutus-content {
  margin-top: 100px;
  margin-bottom: 200px;
}

.motto {
  width: 80%;
  height: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  text-align: center;
}

.text-block {
  margin-top: 50px;
  padding-right: 15px;
  padding-left: 15px;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
}

.text-block.about-heading {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
}

.button-4 {
  padding: 12px 40px;
  background-color: #252a38;
}

.label {
  font-size: 14px;
  text-align: center;
}

.label.about-label {
  width: 71%;
  margin-bottom: 0px;
  font-size: 15px;
  text-align: left;
}

.label.about-label-2 {
  width: 92%;
  font-size: 15px;
  text-align: left;
}

.text-span {
  width: auto;
  padding-right: 10px;
  background-color: #fadc4c;
}

.container-3 {
  height: auto;
  margin-bottom: 150px;
}

.about-section {
  width: auto;
  margin-bottom: 30px;
}

.div-block-2 {
  padding-top: 0px;
  padding-bottom: 30px;
}

.about-grid {
  margin-top: 0px;
  margin-bottom: 150px;
  grid-column-gap: 70px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.small {
  margin-right: 12px;
  margin-left: 12px;
}

.small.small-first {
  margin-left: 0px;
}

.small.small-last {
  margin-right: 0px;
}

.board-column {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #fff;
}

.board-heading {
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.small-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url('../images/jessica-felicio-QS9ZX5UnS14-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.small-image.small3 {
  width: 70px;
  height: 70px;
  background-image: url('../images/albert-dera-ILip77SbmOE-unsplash.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.small-image.small4 {
  border: 0px solid #000;
  background-image: url('../images/tyler-nix-PQeoQdkU9jQ-unsplash.jpg');
}

.small-image.small4.border-image {
  border-width: 2px;
  border-color: #087892;
}

.small-image.small2 {
  background-image: url('../images/ayo-ogunseinde-6W4F62sN_yI-unsplash.jpg');
}

.small-image.small2.border-image {
  border: 2px solid #087892;
}

.small-image.small3 {
  width: 70px;
  height: 70px;
  background-image: url('../images/albert-dera-ILip77SbmOE-unsplash.jpg');
}

.small-image.small3.border-image {
  border: 2px solid #087892;
}

.small-image.border-image {
  border: 2px solid #087892;
}

.grid {
  margin-bottom: 0px;
  grid-column-gap: 19px;
  grid-row-gap: 22px;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 7px;
  border-radius: 5px;
  background-color: #fadc4c;
  font-size: 26px;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph {
  width: 60%;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.text-block-2 {
  font-size: 16px;
}

.columnleft {
  padding-right: 10px;
  padding-left: 10px;
}

.grid-4 {
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.tree {
  margin-right: 40px;
  margin-bottom: 150px;
  margin-left: 40px;
}

.column-right {
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.community {
  position: relative;
  display: block;
  height: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #fde36b;
}

.left {
  width: auto;
  padding-right: 0px;
}

.data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-image: url('../images/ayo-ogunseinde-sibVwORYqs0-unsplash.jpg');
  background-position: 60% 50%;
  background-size: cover;
}

._2 {
  margin-bottom: 10px;
}

.testimonials {
  position: static;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.testimonials.experimental-testimonial {
  position: static;
  margin-top: 100px;
  margin-bottom: 50px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.medium {
  margin-right: 12px;
  margin-left: 12px;
}

.white-board {
  overflow: hidden;
  margin-bottom: 150px;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 15px;
  background-color: transparent;
}

.image-2 {
  padding: 7px;
  border-radius: 5px;
  background-color: #fadc4c;
}

.big {
  margin-right: 12px;
  margin-left: 12px;
  border-radius: 0px;
}

._3 {
  margin-bottom: 10px;
}

._1 {
  margin-bottom: 10px;
}

.text-block-3 {
  font-size: 12px;
  line-height: 18px;
}

.left-content {
  width: 80%;
  margin-top: 40px;
  margin-bottom: 60px;
}

.board-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 60px;
  padding-left: 60px;
  border-radius: 15px;
  background-color: #fff;
}

.datablock {
  width: 78%;
  margin-left: 7px;
}

.right {
  display: inline-block;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading3 {
  width: 22%;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Libre Baskerville', sans-serif;
  text-align: center;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 3px;
  font-family: 'PT Serif', serif;
  font-size: 15px;
}

.medium-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: none;
  background-position: 50% 50%;
  background-size: cover;
}

.medium-image.medium1 {
  background-image: url('../images/sam-burriss-jTSf1xnsoCs-unsplash.jpg');
}

.medium-image.medium-image2 {
  height: 120px;
  background-image: url('../images/michael-dam-mEZ3PoFGs_k-unsplash.jpg');
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Libre Baskerville', sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
}

.heading-5.heading-contact {
  color: #252a38;
}

.contact-heading {
  width: 45%;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.text-field-2 {
  height: 50px;
  margin-bottom: 15px;
  padding-top: 8px;
  border-style: none none solid;
  border-width: 0px;
  border-color: #000 #000 #252a38;
}

.text-field-2.contact-tf {
  border-bottom-width: 1px;
  background-color: transparent;
}

.text-field-2.contact-tf::-webkit-input-placeholder {
  color: #252a38;
}

.text-field-2.contact-tf:-ms-input-placeholder {
  color: #252a38;
}

.text-field-2.contact-tf::-ms-input-placeholder {
  color: #252a38;
}

.text-field-2.contact-tf::placeholder {
  color: #252a38;
}

.text-field {
  height: 50px;
  margin-bottom: 15px;
  border-style: none none solid;
  border-width: 0px;
  border-color: #000 #000 #252a38;
}

.text-field.contact-tf {
  border-bottom-width: 1px;
  background-color: transparent;
}

.text-field.contact-tf::-webkit-input-placeholder {
  color: #252a38;
}

.text-field.contact-tf:-ms-input-placeholder {
  color: #252a38;
}

.text-field.contact-tf::-ms-input-placeholder {
  color: #252a38;
}

.text-field.contact-tf::placeholder {
  color: #252a38;
}

.text-field.contactt-tf {
  border-bottom-width: 1px;
  background-color: transparent;
}

.text-field.contactt-tf::-webkit-input-placeholder {
  color: #252a38;
}

.text-field.contactt-tf:-ms-input-placeholder {
  color: #252a38;
}

.text-field.contactt-tf::-ms-input-placeholder {
  color: #252a38;
}

.text-field.contactt-tf::placeholder {
  color: #252a38;
}

.textarea {
  height: 100px;
}

.textarea.text-field {
  height: 110px;
  border-style: none none solid;
  border-width: 0px;
  border-color: #000 #000 #252a38;
}

.textarea.text-field.contact-tf {
  height: 100px;
  border-bottom-width: 1px;
}

.submit-button {
  display: block;
  height: auto;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 12px 80px;
  background-color: #252a38;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.submit-button.exp-form-button {
  background-color: #000;
  font-family: Apercu, sans-serif;
}

.submit-button.branding-submit {
  padding-right: 40px;
  padding-left: 40px;
}

.contact {
  position: relative;
  top: auto;
  z-index: 10;
  overflow: visible;
  width: auto;
  height: auto;
  margin-top: -42px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-image: url('../images/BG.png');
  background-position: 0% 0%;
  background-size: cover;
}

.contact.about-us-contact {
  margin-top: 0px;
}

.form-block {
  width: 395px;
  margin-right: auto;
  margin-left: auto;
}

.text-block-4 {
  margin-bottom: 50px;
  color: #252a38;
  font-size: 15px;
  text-align: center;
}

.text-block-4.white {
  color: #fff;
}

.text-block-4.textblockwhite {
  color: #fff;
}

.container-5 {
  margin-top: 150px;
  margin-bottom: 200px;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: 'Libre Baskerville', sans-serif;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.link-block.social-icons-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-div {
  margin-top: 0px;
}

.link-2 {
  display: block;
  margin-bottom: 15px;
  color: #252a38;
  font-size: 16px;
  text-decoration: none;
}

.icon {
  margin-bottom: 20px;
  margin-left: 10px;
}

.icon.socialicons {
  margin-bottom: 0px;
}

.heading-6 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  color: #252a38;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.footer {
  position: static;
  margin-top: 0px;
  padding: 50px 70px 80px;
}

.about-us {
  width: 100%;
  height: 100vh;
  background-image: url('../images/Screenshot-2020-12-07-at-3.58.19-PM.png');
  background-position: 50% 50%;
  background-size: cover;
}

.aboutus-tagline {
  width: 460px;
  margin-top: 90px;
  padding-right: 0px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90.9%;
  margin-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.understand {
  width: auto;
  margin-bottom: 20px;
}

.heading-9 {
  margin-bottom: 20px;
}

.design {
  max-width: none;
  margin-bottom: 20px;
}

.about-us-para {
  width: 273px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 27px;
}

.brainstorm {
  margin-bottom: 20px;
}

.lit {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 130px;
}

.about-us-2 {
  height: auto;
}

.aboutus-div {
  position: relative;
  margin-bottom: 80px;
  padding: 150px;
  background-color: #f7f7fc;
}

.content-block {
  margin-right: 60px;
}

.approach-heading {
  width: 780px;
  margin-top: 0px;
  margin-bottom: 80px;
  font-family: 'Libre Baskerville', sans-serif;
  line-height: 57px;
}

.approach {
  height: auto;
  padding-right: 300px;
  padding-bottom: 1px;
  padding-left: 100px;
}

.about-us-heading {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 34px;
  line-height: 45px;
}

.improve {
  max-width: none;
  margin-bottom: 20px;
}

.grid-5 {
  grid-column-gap: 60px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-6 {
  margin-bottom: 150px;
  grid-column-gap: 60px;
  grid-row-gap: 80px;
}

._3-div {
  background-color: #f9f9f9;
}

._5-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 320px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: url('../images/Screenshot-2020-12-07-at-3.58.46-PM.png');
  background-position: 50% 50%;
  background-size: cover;
}

.image-3 {
  width: 48px;
  margin-bottom: 20px;
}

.grid-7 {
  grid-row-gap: 50px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.solution-heading {
  width: 616px;
  margin-top: 0px;
  margin-bottom: 70px;
  font-family: 'Libre Baskerville', sans-serif;
  line-height: 57px;
}

.solution {
  padding-top: 70px;
  padding-right: 80px;
  padding-left: 40px;
}

.grid-9 {
  grid-column-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.link-3 {
  display: block;
  margin-bottom: 20px;
  color: #252a38;
  text-decoration: none;
}

.grid-8 {
  grid-column-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.column-7 {
  padding-right: 0px;
  padding-left: 0px;
}

.button-5 {
  margin-bottom: 50px;
  padding: 10px 50px;
  background-color: #252a38;
}

.text-block-7 {
  width: auto;
  font-size: 12px;
}

.card {
  width: auto;
  height: auto;
  padding: 30px 30px 30px 20px;
  border-radius: 30px;
  background-color: transparent;
}

.card.grad {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.27)), to(hsla(0, 0%, 100%, 0.76)));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.27), hsla(0, 0%, 100%, 0.76));
}

.card.grad:hover {
  background-color: #fff;
}

.list-div {
  width: 169px;
  padding-right: 0px;
}

._4-div {
  padding-top: 60px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #ffed73;
}

.list {
  width: 100%;
}

.list-heading {
  text-transform: uppercase;
}

.bot-grid {
  margin-bottom: 100px;
  padding-right: 160px;
  padding-left: 160px;
}

.line {
  height: 1px;
  margin-bottom: 20px;
  background-color: #000;
}

.heading-12 {
  width: 460px;
  margin: 0px auto 100px;
  font-family: 'Libre Baskerville', sans-serif;
  line-height: 57px;
  text-align: center;
}

.h1-work {
  border-bottom: 0px solid #000;
  font-size: 48px;
  line-height: 72px;
}

.type-of-work {
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 20px;
  padding-left: 20px;
  color: #000;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

.our-work {
  height: auto;
}

.radio-button {
  background-color: #000;
  -o-object-fit: fill;
  object-fit: fill;
}

.work-img {
  margin-bottom: 20px;
}

.text-span-2 {
  font-weight: 700;
}

.columns {
  padding: 50px 70px;
}

.our-work-content {
  margin-bottom: 100px;
}

.text-block-9 {
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.work-footer {
  background-color: #ffed73;
}

.project-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #b1b1b1;
}

.text-block-8 {
  font-size: 16px;
  line-height: 24px;
}

.work-footer-div {
  background-color: #ffed73;
}

.radio-button-label {
  color: #b1b1b1;
}

.radio-button-field {
  margin-left: 30px;
}

.work-heading {
  border-bottom: 0px solid #000;
}

.work-col {
  margin-top: 50px;
}

.project {
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #000;
  color: #b1b1b1;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

.contact-span {
  border-bottom: 1px solid #000;
  font-weight: 700;
}

.contact-us {
  height: auto;
  border-bottom: 1px solid #252a38;
  font-family: Helvetica, sans-serif;
}

.contact-footer {
  background-color: #ffed73;
}

.contact-us-content {
  margin-top: 100px;
  margin-bottom: 100px;
}

.heading-21 {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #b33f4c;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.heading-22 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #b33f4c;
  font-size: 60px;
  line-height: 75px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.exp-div-mid {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -130px;
  margin-bottom: 100px;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.heading-23 {
  position: static;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffd87e;
  font-size: 60px;
  line-height: 75px;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 #b33f4c;
}

.heading-23._3 {
  position: absolute;
  margin-bottom: 0px;
  text-shadow: -1px 0 0 #b33f4c;
}

.heading-23._2 {
  position: absolute;
  margin-bottom: 0px;
  text-shadow: 0 1px 0 #b33f4c;
}

.heading-23._1 {
  position: absolute;
  margin-bottom: 0px;
  text-shadow: 1px 0 0 #b33f4c;
}

.heading-18 {
  position: absolute;
  left: 16%;
  top: 11%;
  z-index: 2;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  font-family: Tuskergrotesk, sans-serif;
  color: #ffd87e;
  font-size: 55px;
  line-height: 82.5px;
}

.heading-18.heading-19 {
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  color: #b33f4c;
}

.heading-18.heading-20 {
  -webkit-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}

.exp-column-div {
  width: 85%;
}

.box-block {
  position: absolute;
  left: 30%;
  top: 0%;
  z-index: 2;
  display: inline-block;
}

.box-block.box-block-2 {
  left: 48%;
  top: 120px;
  z-index: 3;
}

.box-block.box-block-3 {
  position: relative;
  left: 35%;
  top: 227px;
  right: 36%;
  bottom: auto;
  z-index: 4;
}

.exp-heading-4 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Tuskergrotesk, sans-serif;
  font-size: 44px;
  line-height: 66px;
  font-weight: 500;
}

.grid-10-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.exp-heading-3 {
  width: 570px;
  font-family: Tuskergrotesk, sans-serif;
  color: #000;
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
}

.exp-para {
  font-family: Apercu, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.image-5 {
  width: 500px;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.image-5.image-6 {
  width: 500px;
  height: auto;
  border-radius: 0%;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.image-5.imag3-7 {
  width: 500px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.image-5.image5-2 {
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.grid-10 {
  -ms-grid-columns: 1fr 1.25fr 1fr;
  grid-template-columns: 1fr 1.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.experimental-form {
  width: 395px;
  margin-right: 0px;
  margin-left: 0px;
}

.expeimental {
  position: relative;
  height: auto;
  padding: 80px 0px 1px;
  background-color: #ffd87e;
  color: #000;
}

.man {
  width: 16%;
}

.contact-number {
  display: block;
  font-family: Apercu, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.exp-heading-2 {
  width: 940px;
  margin-top: -3px;
  margin-bottom: 0px;
  background-color: transparent;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  text-align: center;
  text-transform: uppercase;
}

.block {
  position: relative;
  width: 100%;
  height: 330.609375px;
}

.dots-2 {
  width: 40%;
}

.grid-10-div-2 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}

.exp-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 100px;
  margin-bottom: 150px;
  margin-left: 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.exp-container-7 {
  margin-bottom: 100px;
  font-family: Tuskergrotesk, sans-serif;
}

.grid-11 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.pointer {
  position: absolute;
  left: 50%;
  bottom: 2%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.who-div {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
}

.arrow {
  position: absolute;
  left: 16%;
  top: 20%;
  right: 16%;
  width: 10%;
}

.text-span-3 {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #000;
  font-family: Tuskergrotesk, sans-serif;
  color: #ffd87e;
  font-size: 56px;
  line-height: 84px;
  font-weight: 500;
}

.exp-img-1 {
  width: 500px;
}

.span-2 {
  display: inline-block;
  margin-left: 100px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #000;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  font-family: Tuskergrotesk, sans-serif;
  color: #ffd87e;
  font-size: 56px;
  line-height: 84px;
  font-weight: 500;
}

.exp-heading {
  display: block;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  background-color: transparent;
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  color: #9b9790;
  text-align: center;
  text-transform: uppercase;
}

.exp-nav-main-heading {
  margin: 0px 30px;
  padding-right: 0px;
  font-family: Tuskergrotesk, sans-serif;
  color: #b33f4c;
  font-size: 44px;
  line-height: 66px;
  font-weight: 300;
}

.exp-nav-div {
  margin-bottom: 100px;
  border-bottom: 2px solid #b33f4c;
}

.exp-container {
  display: block;
  margin-bottom: 130px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.exp-nav-heading {
  margin: 0px 30px;
  font-family: Tuskergrotesk, sans-serif;
  color: #b33f4c;
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
  text-transform: uppercase;
}

.exp-nav-heading.nav-first {
  margin-left: 0px;
  font-weight: 400;
}

.exp-nav-heading.nav-last {
  margin-right: 0px;
  font-family: Tuskergrotesk, sans-serif;
  font-weight: 400;
}

.exp-container-3 {
  margin-bottom: 100px;
}

.exp-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.exp-container-2 {
  margin-bottom: 150px;
}

.image-4 {
  height: 400px;
  margin-right: 50px;
}

.experimental-2 {
  height: auto;
  padding-top: 50px;
  padding-bottom: 1px;
  background-color: #f9d3df;
}

.frame-6 {
  position: absolute;
  left: 25%;
  bottom: 5%;
  width: 280px;
  -webkit-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  transform: rotate(9deg);
}

.frame-1 {
  position: absolute;
}

.frame-1.size {
  left: 50%;
  bottom: 0px;
  z-index: 6;
  width: 280px;
  -webkit-transform: rotate(14deg);
  -ms-transform: rotate(14deg);
  transform: rotate(14deg);
}

.exp-div-3 {
  padding-right: 100px;
  padding-left: 100px;
}

.exp-div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.bean-img {
  position: relative;
  margin-top: -30px;
}

.frame-4 {
  position: absolute;
  left: 40%;
  top: -5%;
  z-index: 3;
  width: 280px;
  -webkit-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
}

.text-block-11 {
  font-family: Tuskergrotesk, sans-serif;
  color: #3f52a0;
  font-weight: 500;
}

.bean {
  width: 450px;
}

.bean-text {
  position: absolute;
  left: -33px;
  top: -20px;
  width: 200px;
  padding: 15px 30px;
  background-color: #3f52a0;
  -webkit-transform: rotate(-16deg);
  -ms-transform: rotate(-16deg);
  transform: rotate(-16deg);
  font-family: Tuskergrotesk, sans-serif;
  color: #f9d3df;
  font-size: 18px;
  line-height: 27px;
  background-clip: border-box;
}

.exp-heading-5 {
  width: 435px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Tuskergrotesk, sans-serif;
  color: #3f52a0;
  font-size: 34px;
  line-height: 51px;
  font-weight: 500;
}

.exp-heading-5.exp-heading-6 {
  width: 435px;
  text-align: right;
}

.frame-5 {
  position: absolute;
  right: 5%;
  bottom: 8%;
  z-index: 5;
  width: 280px;
  -webkit-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  transform: rotate(-9deg);
}

.frame-2 {
  position: absolute;
  left: 8%;
  top: 10%;
  width: 280px;
  -webkit-transform: rotate(-14deg);
  -ms-transform: rotate(-14deg);
  transform: rotate(-14deg);
}

.exp-div-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
  padding-right: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.frame-3 {
  position: absolute;
  top: 0px;
  right: 10%;
  z-index: 2;
  width: 280px;
  -webkit-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
}

.paragraph-4 {
  width: 544px;
  margin-top: 40px;
  margin-right: 100px;
  font-family: Apercu, sans-serif;
  color: #3f52a0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

.exp-div-5 {
  position: relative;
  margin-bottom: 150px;
  padding-right: 200px;
  padding-left: 200px;
}

.exp-div-6 {
  position: relative;
  margin-bottom: 200px;
  padding-right: 60px;
  padding-left: 60px;
}

.exp-heading-6 {
  width: 22%;
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Tuskergrotesk, sans-serif;
  color: #3f52a0;
  font-weight: 500;
  text-align: center;
}

.exp-the-2 {
  position: absolute;
  left: -20px;
  top: -10px;
  right: 0%;
  bottom: auto;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fbd4ca;
  font-size: 230px;
  line-height: 187px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 -3px 0 #06839d;
}

.exp-the-2.the-2 {
  display: block;
  text-shadow: 3px 0 0 #06839d;
}

.exp-the-2.the-4 {
  display: block;
  text-shadow: -3px 0 0 #06839d;
}

.exp-the-2.thee-3 {
  display: block;
  text-shadow: 0 3px 0 #06839d;
}

.podcast {
  position: absolute;
  left: 35%;
  bottom: 20px;
  font-family: Tuskergrotesk, sans-serif;
  color: #06839d;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.podcast.w--current {
  bottom: 20px;
}

.exp-container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.exp-container-6 {
  position: relative;
  font-family: Tuskergrotesk, sans-serif;
}

.exp-heading-9 {
  position: absolute;
  left: 120px;
  top: 50px;
  width: 400px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Tuskergrotesk, sans-serif;
  color: #06839d;
  font-size: 44px;
  line-height: 50px;
  font-weight: 500;
}

.experimental-3 {
  height: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #fbd4ca;
}

.the-div {
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
}

.image-6 {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-image: url('../images/ayo-ogunseinde-sibVwORYqs0-unsplash.jpg');
  background-position: 60% 50%;
  background-size: cover;
}

.image-6.border-image {
  border: 5px solid #087892;
}

.exp-the {
  display: block;
  width: 940px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #06839d;
  font-size: 230px;
  line-height: 187px;
  text-align: center;
  text-transform: uppercase;
}

.text-block-12 {
  width: 55%;
  font-family: Apercu, sans-serif;
  color: #3f52a0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  text-align: center;
}

.medium-image-2 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url('../images/sam-burriss-jTSf1xnsoCs-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.medium-image-2.medium1.border-image {
  border: 3px solid #087892;
}

.medium-image-2.medium-image2 {
  height: 120px;
  background-image: url('../images/michael-dam-mEZ3PoFGs_k-unsplash.jpg');
}

.medium-image-2.medium-image2.border-image {
  border: 3px solid #087892;
}

.youtube {
  position: absolute;
  left: 22%;
  bottom: 30px;
  margin-right: 50px;
  font-family: Tuskergrotesk, sans-serif;
  color: #fbd4ca;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.youtube.w--current {
  bottom: 30px;
}

.instagram {
  position: absolute;
  left: 120px;
  bottom: 40px;
  margin-right: 50px;
  font-family: Tuskergrotesk, sans-serif;
  color: #06839d;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.instagram.w--current {
  bottom: 40px;
}

.button-6 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #252a38;
}

.button-7 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #252a38;
}

.body {
  font-family: Helvetica, sans-serif;
  color: #252a38;
}

.body-2 {
  font-family: Helvetica, sans-serif;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link-5 {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link-5:hover {
  text-decoration: underline;
}

.image-7 {
  display: inline-block;
}

.div-block-3 {
  padding-top: 45px;
  padding-right: 117px;
  padding-left: 116px;
}

.branding-2 {
  height: auto;
}

.branding-img {
  margin-bottom: 100px;
}

.branding-container {
  margin-bottom: 80px;
}

.heading-24 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 58px;
  line-height: 96px;
}

.heading-25 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}

.paragraph-5 {
  width: 462px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}

.grid-12 {
  grid-row-gap: 61px;
}

.branding-2-content {
  margin-bottom: 50px;
}

.heading-26 {
  font-family: 'Libre Baskerville', sans-serif;
}

.heading-27 {
  margin-top: 0px;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 58px;
  line-height: 87px;
  text-align: center;
}

.column-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e73f69;
}

.section-2 {
  height: auto;
}

.heading-28 {
  width: 550px;
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: 'Libre Baskerville', sans-serif;
  color: #fff;
  font-size: 54px;
  line-height: 81px;
}

.div-block-4 {
  width: 550px;
  margin: 100px 80px;
  padding-right: 0px;
  padding-left: 0px;
}

.paragraph-6 {
  width: auto;
  margin-bottom: 60px;
  font-family: Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
}

.heading-29 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.career-form-block {
  margin-top: 100px;
  margin-bottom: 100px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.86);
}

.column-11 {
  display: block;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Group-1-copy.png');
  background-position: 40% 50%;
  background-size: 150%;
  background-attachment: scroll;
}

.image-8 {
  width: 48px;
}

.branding-insta {
  width: 28px;
  margin-right: 20px;
}

.branding-linkedin {
  width: 28px;
  margin-right: 20px;
  margin-left: 20px;
}

.branding-twitter {
  width: 28px;
  margin-right: 20px;
  margin-left: 20px;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 208px;
  margin-top: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-9 {
  width: 28px;
  margin-right: 0px;
}

.link-block-2 {
  margin-right: 40px;
}

.link-block-3 {
  margin-right: 40px;
}

.link-block-4 {
  margin-right: 40px;
}

.branding-link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-right: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-13 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row-gap: 31px;
  -ms-grid-columns: 0.25fr 2fr;
  grid-template-columns: 0.25fr 2fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.columns-2 {
  height: 100vh;
}

@media screen and (max-width: 991px) {
  .navbar-2 {
    background-color: #e4e270;
  }

  .nav-link-3 {
    display: block;
    text-align: center;
  }

  .menu-button {
    height: auto;
  }

  .menu-button.w--open {
    background-color: #fff;
  }

  .icon-2 {
    color: #252a38;
  }

  .brand-2 {
    width: 80px;
    height: 73.828125px;
  }

  .nav-link {
    display: block;
    text-align: center;
  }

  .nav-menu-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
  }

  .section {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-bottom: 1px;
    background-color: #e4e270;
  }

  .section.about-us-section {
    margin-top: 0px;
    padding-top: 150px;
    background-color: transparent;
  }

  .container-2 {
    margin-bottom: 100px;
  }

  .text-block {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 30px;
  }

  .columnleft {
    padding-right: 0px;
    padding-left: 0px;
  }

  .grid-4 {
    grid-row-gap: 8px;
  }

  .column-right {
    display: none;
  }

  .left-content {
    width: auto;
  }

  .heading-5 {
    font-size: 42px;
    line-height: 63px;
  }

  .footer-heading {
    font-size: 18px;
  }

  .column-2 {
    padding-right: 0px;
  }

  .column {
    padding-left: 0px;
  }

  .link-2 {
    font-size: 12px;
  }

  .heading-6 {
    font-size: 12px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .about-us {
    width: 100%;
    height: 100vh;
  }

  .box {
    width: 100%;
  }

  .about-us-para {
    width: auto;
  }

  .aboutus-div {
    padding: 100px 20px;
  }

  .approach-heading {
    width: auto;
    font-size: 34px;
    line-height: 51px;
  }

  .approach {
    padding-right: 20px;
    padding-left: 20px;
  }

  .about-us-heading {
    font-size: 30px;
  }

  .grid-5 {
    grid-row-gap: 50px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .solution-heading {
    font-size: 34px;
    line-height: 51px;
  }

  .solution {
    padding-right: 40px;
  }

  .grid-9 {
    grid-column-gap: 20px;
  }

  .grid-8 {
    grid-column-gap: 20px;
  }

  .card {
    padding-right: 20px;
  }

  ._4-div {
    padding-right: 20px;
    padding-left: 20px;
  }

  .bot-grid {
    padding-right: 88px;
    padding-left: 88px;
  }

  .heading-12 {
    font-size: 34px;
    line-height: 51px;
  }

  .columns {
    padding-right: 40px;
    padding-left: 40px;
  }

  .text-block-9 {
    font-size: 12px;
  }

  .text-block-8 {
    font-size: 12px;
  }

  .heading-21 {
    font-size: 18px;
  }

  .heading-22 {
    margin-bottom: 10px;
    font-size: 42px;
    line-height: 63px;
  }

  .heading-23 {
    font-size: 42px;
    line-height: 63px;
  }

  .heading-23._3 {
    font-size: 42px;
    line-height: 63px;
  }

  .heading-23._3._24-3 {
    line-height: 63px;
  }

  .heading-23._2 {
    font-size: 42px;
    line-height: 63px;
  }

  .heading-23._1 {
    font-size: 42px;
    line-height: 63px;
  }

  .exp-column-div {
    width: auto;
  }

  .exp-heading-4 {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }

  .exp-heading-3 {
    width: 58%;
    font-size: 24px;
    line-height: 36px;
  }

  .exp-para {
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .exp-heading-2 {
    width: auto;
  }

  .exp-div {
    margin-right: 20px;
    margin-left: 20px;
  }

  .grid-11 {
    grid-row-gap: 28px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .who-div {
    margin-bottom: 10px;
  }

  .exp-img-1 {
    width: 300px;
  }

  .span-2 {
    font-size: 50px;
    line-height: 75px;
  }

  .exp-nav-main-heading {
    font-size: 34px;
  }

  .exp-nav-heading {
    font-size: 20px;
  }

  .exp-nav-heading.nav-first {
    font-size: 20px;
  }

  .image-4 {
    width: 100px;
    height: auto;
    margin-right: 10px;
  }

  .exp-div-3 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .exp-div-block {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bean-img {
    margin-top: 0px;
  }

  .bean {
    width: 80%;
  }

  .exp-heading-5 {
    font-size: 28px;
    line-height: 42px;
  }

  .exp-heading-5.exp-heading-6 {
    width: 49%;
  }

  .exp-div-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .paragraph-4 {
    width: 40%;
    margin-right: 10px;
    font-size: 14px;
    line-height: 21px;
  }

  .heading-24 {
    font-size: 36px;
    line-height: 54px;
  }

  .heading-25 {
    margin-top: 0px;
    font-size: 24px;
  }

  .paragraph-5 {
    width: 420px;
    font-size: 12px;
    line-height: 18px;
  }

  .heading-27 {
    font-size: 36px;
    line-height: 54px;
  }

  .heading-28 {
    width: auto;
    font-size: 36px;
    line-height: 54px;
  }

  .div-block-4 {
    width: 350px;
  }

  .paragraph-6 {
    line-height: 18px;
  }

  .heading-29 {
    font-size: 14px;
  }

  .column-11 {
    background-size: auto;
  }

  .grid-13 {
    grid-column-gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    text-align: left;
  }

  .brand-2 {
    width: auto;
    height: auto;
  }

  .nav-menu-2 {
    width: auto;
    height: auto;
  }

  .small {
    margin-right: 10px;
    margin-left: 10px;
  }

  .small.small-first {
    margin-right: 10px;
    margin-left: 0px;
  }

  .small-image {
    width: 50px;
    height: 50px;
  }

  .small-image.small3 {
    width: 50px;
    height: 50px;
  }

  .small-image.small3 {
    width: 50px;
    height: 50px;
  }

  .image {
    width: 150px;
    height: 150px;
  }

  .medium {
    margin-right: 10px;
    margin-left: 10px;
  }

  .big {
    margin-right: 10px;
    margin-left: 10px;
  }

  .medium-image.medium1 {
    width: 80px;
    height: 80px;
  }

  .medium-image.medium-image2 {
    width: 80px;
    height: 80px;
  }

  .approach-heading {
    width: auto;
  }

  .solution-heading {
    width: auto;
  }

  .list {
    margin-bottom: 50px;
  }

  .text-block-9 {
    text-align: left;
  }

  .image-6 {
    width: 150px;
    height: 150px;
  }

  .medium-image-2.medium1 {
    width: 80px;
    height: 80px;
  }

  .medium-image-2.medium-image2 {
    width: 80px;
    height: 80px;
  }

  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .paragraph-5 {
    width: 300px;
  }

  .grid-12 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .heading-28 {
    width: 350px;
    font-size: 36px;
    line-height: 54px;
  }

  .div-block-4 {
    width: 350px;
  }

  .paragraph-6 {
    font-size: 10px;
    line-height: 15px;
  }

  .heading-29 {
    font-size: 12px;
    line-height: 18px;
  }

  .column-11 {
    background-position: 40% 50%;
    background-size: 150%;
  }

  .branding-insta {
    width: 24px;
  }

  .image-9 {
    width: 18px;
  }

  .grid-13 {
    grid-column-gap: 10px;
    -ms-grid-columns: 0.25fr 2.75fr;
    grid-template-columns: 0.25fr 2.75fr;
  }
}

@media screen and (max-width: 479px) {
  .navbar-2 {
    background-color: #ffed73;
  }

  .nav-link-3 {
    text-align: center;
  }

  .brand-2 {
    height: auto;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .logo {
    width: 80px;
  }

  .nav-link {
    font-size: 12px;
    text-align: center;
  }

  .nav-menu-2 {
    width: auto;
    height: auto;
  }

  .section {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #ffed73;
  }

  .motto {
    width: 100%;
  }

  .text-block {
    font-size: 24px;
    line-height: 37.5px;
  }

  .button-4 {
    font-size: 12px;
  }

  .label {
    font-size: 12px;
  }

  .label.about-label {
    font-size: 12px;
  }

  .label.about-label-2 {
    font-size: 12px;
  }

  .about-grid {
    grid-column-gap: 13px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .about-grid.aboutmid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .small {
    margin-right: 7px;
    margin-left: 7px;
  }

  .small.small-first {
    margin-right: 7px;
  }

  .board-column {
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
  }

  .board-heading {
    font-size: 24px;
    line-height: 37.5px;
  }

  .small-image {
    width: 30px;
    height: 30px;
  }

  .small-image.small3 {
    width: 30px;
    height: 30px;
  }

  .small-image.small4 {
    width: 30px;
    height: 30px;
  }

  .small-image.small2 {
    width: 30px;
    height: 30px;
  }

  .small-image.small3 {
    width: 30px;
    height: 30px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .container-4 {
    margin-top: 0px;
  }

  .paragraph {
    width: 80%;
    font-size: 12px;
    line-height: 20px;
  }

  .text-block-2 {
    font-size: 12px;
    line-height: 18px;
  }

  .tree {
    margin-right: 10px;
    margin-bottom: 100px;
    margin-left: 10px;
  }

  .left {
    width: 100%;
  }

  .image {
    width: 100px;
    height: 100px;
  }

  .testimonials {
    overflow: auto;
    max-width: none;
    -o-object-fit: fill;
    object-fit: fill;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }

  .medium {
    margin-right: 7px;
    margin-left: 7px;
  }

  .white-board {
    padding-right: 10px;
    padding-left: 10px;
  }

  .big {
    margin-right: 7px;
    margin-left: 7px;
  }

  .left-content {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .board-div {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .right {
    display: none;
  }

  .heading3 {
    width: 160px;
    font-size: 24px;
    line-height: 37.5px;
  }

  .heading-3 {
    line-height: 22.5px;
  }

  .medium-image.medium1 {
    width: 50px;
    height: 50px;
  }

  .medium-image.medium-image2 {
    width: 50px;
    height: 50px;
  }

  .heading-5 {
    font-size: 24px;
    line-height: 37.5px;
  }

  .contact-heading {
    width: 80%;
  }

  .textarea {
    padding: 8px 50px;
    font-size: 12px;
  }

  .textarea.text-field {
    padding-left: 10px;
  }

  .contact {
    margin-top: -55px;
  }

  .form-block {
    width: 90%;
  }

  .text-block-4 {
    font-size: 12px;
    line-height: 16px;
  }

  .footer-heading {
    font-size: 18px;
  }

  .footer-grid-div {
    margin-bottom: 20px;
  }

  .column-2 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column {
    margin-bottom: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .link-2 {
    font-size: 12px;
  }

  .icon.socialicons {
    margin-left: 0px;
  }

  .heading-6 {
    font-size: 12px;
  }

  .footer {
    padding-right: 20px;
    padding-bottom: 80px;
    padding-left: 20px;
  }

  .about-us {
    width: auto;
  }

  .aboutus-tagline {
    width: auto;
    font-size: 12px;
  }

  .heading-9 {
    font-size: 18px;
  }

  .about-us-para {
    font-size: 12px;
    line-height: 18px;
  }

  .lit {
    width: 100px;
  }

  .aboutus-div {
    margin-bottom: 50px;
    padding-top: 50px;
  }

  .approach-heading {
    font-size: 24px;
    line-height: 36px;
  }

  .about-us-heading {
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 33px;
  }

  .grid-5 {
    grid-row-gap: 40px;
  }

  .grid-6 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  ._5-div {
    width: 100%;
    height: 240px;
  }

  .grid-7 {
    grid-row-gap: 20px;
  }

  .solution-heading {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 33px;
  }

  .solution {
    padding-right: 20px;
    padding-left: 20px;
  }

  .grid-9 {
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .link-3 {
    font-size: 12px;
  }

  .grid-8 {
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .button-5 {
    margin-bottom: 30px;
    padding: 8px 25px;
    font-size: 10px;
  }

  .column-9 {
    margin-bottom: 20px;
  }

  .list-heading {
    font-size: 16px;
  }

  .bot-grid {
    padding-right: 0px;
    padding-left: 0px;
  }

  .heading-12 {
    width: auto;
    margin-bottom: 80px;
    font-size: 24px;
    line-height: 36px;
  }

  .h1-work {
    padding-left: 10px;
    font-size: 24px;
    line-height: 36px;
  }

  .type-of-work {
    font-size: 10px;
    line-height: 15px;
  }

  .radio-button-label-2 {
    font-size: 10px;
    line-height: 15px;
  }

  .text-span-2 {
    font-size: 12px;
  }

  .columns {
    padding-right: 20px;
    padding-left: 20px;
  }

  .text-block-9 {
    font-size: 12px;
  }

  .form {
    margin-right: 10px;
  }

  .project-div {
    margin-top: 0px;
  }

  .text-block-8 {
    font-size: 12px;
  }

  .radio-button-label {
    font-size: 10px;
    line-height: 15px;
  }

  .project {
    font-size: 10px;
    line-height: 15px;
  }

  .heading-21 {
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 15px;
  }

  .heading-22 {
    font-size: 20px;
    line-height: 30px;
  }

  .exp-div-mid {
    margin-top: 36px;
    margin-bottom: 50px;
    padding-right: 0px;
    padding-left: 10px;
  }

  .heading-23 {
    font-size: 20px;
    line-height: 30px;
  }

  .heading-23._3 {
    font-size: 20px;
    line-height: 30px;
  }

  .heading-23._3._24-3 {
    line-height: 30px;
  }

  .heading-23._2 {
    font-size: 20px;
    line-height: 30px;
  }

  .heading-23._1 {
    font-size: 20px;
    line-height: 30px;
  }

  .heading-18 {
    font-size: 20px;
    line-height: 10px;
  }

  .heading-18.heading-19 {
    top: -10px;
    font-size: 20px;
    line-height: 30px;
  }

  .heading-18.heading-20 {
    left: 35px;
    top: -4px;
    font-size: 20px;
    line-height: 30px;
  }

  .box-block.box-block-2 {
    top: 53px;
  }

  .box-block.box-block-3 {
    top: 96px;
  }

  .exp-heading-4 {
    font-size: 28px;
    line-height: 42px;
  }

  .exp-heading-3 {
    width: auto;
    margin-bottom: 30px;
    font-size: 16px;
  }

  .exp-para {
    width: auto;
    font-size: 14px;
    line-height: 21px;
  }

  .image-5 {
    width: 250px;
  }

  .image-5.image-6 {
    width: 250px;
  }

  .image-5.imag3-7 {
    width: 200px;
  }

  .experimental-form {
    width: auto;
  }

  .contact-number {
    font-size: 10px;
  }

  .block {
    height: auto;
  }

  .dots-2 {
    width: 120px;
  }

  .exp-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .exp-container-7 {
    margin-bottom: 80px;
  }

  .pointer {
    width: 20px;
  }

  .text-span-3 {
    font-size: 28px;
    line-height: 42px;
  }

  .span-2 {
    margin-left: 50px;
    font-size: 28px;
    line-height: 42px;
  }

  .exp-nav-main-heading {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 17px;
    line-height: 36px;
  }

  .exp-nav-heading {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 18px;
  }

  .exp-nav-heading.nav-first {
    font-size: 12px;
    line-height: 18px;
  }

  .exp-container-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .image-4 {
    width: 50px;
  }

  .frame-6 {
    left: 10%;
    width: 100px;
  }

  .frame-1.size {
    left: 31%;
    width: 100px;
  }

  .exp-div-block {
    margin-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .bean-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .frame-4 {
    left: 26%;
    top: 57%;
    width: 100px;
  }

  .text-block-11 {
    font-size: 10px;
  }

  .bean-text {
    left: -18px;
    top: -27px;
    width: 130px;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .exp-heading-5 {
    width: 200px;
    font-size: 16px;
    line-height: 24px;
  }

  .exp-heading-5.exp-heading-6 {
    width: 73%;
    line-height: 24px;
  }

  .frame-5 {
    right: 21%;
    width: 100px;
  }

  .frame-2 {
    width: 100px;
  }

  .exp-div-4 {
    padding-right: 10px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .frame-3 {
    right: 21%;
    width: 100px;
  }

  .paragraph-4 {
    width: auto;
    margin-right: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 10px;
  }

  .exp-div-6 {
    margin-bottom: 100px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .exp-heading-6 {
    width: 32%;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .exp-the-2 {
    left: -10px;
    top: -5px;
    font-size: 80px;
    line-height: 120px;
    text-shadow: 0 -2px 0 #06839d;
  }

  .podcast {
    left: 105px;
    bottom: 2px;
    font-size: 6px;
    line-height: 9px;
  }

  .exp-heading-9 {
    left: 20px;
    top: 10px;
    width: 150px;
    font-size: 12px;
    line-height: 18px;
  }

  .the-div.space {
    margin-top: -52px;
  }

  .image-6 {
    width: 100px;
    height: 100px;
  }

  .exp-the {
    width: auto;
    font-size: 80px;
    line-height: 120px;
  }

  .text-block-12 {
    width: auto;
    font-size: 12px;
    line-height: 18px;
  }

  .medium-image-2.medium1 {
    width: 50px;
    height: 50px;
  }

  .medium-image-2.medium-image2 {
    width: 50px;
    height: 50px;
  }

  .youtube {
    left: 66px;
    bottom: 4px;
    font-size: 6px;
    line-height: 9px;
  }

  .instagram {
    left: 20px;
    bottom: 10px;
    font-size: 6px;
    line-height: 9px;
  }

  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link-5 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .heading-24 {
    font-size: 18px;
    line-height: 27px;
  }

  .heading-25 {
    font-size: 14px;
    line-height: 21px;
  }

  .paragraph-5 {
    width: 150px;
    font-size: 10px;
    line-height: 15px;
  }

  .heading-27 {
    font-size: 18px;
    line-height: 27px;
  }

  .heading-28 {
    width: auto;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 36px;
  }

  .div-block-4 {
    width: auto;
    margin: 50px 10px;
  }

  .paragraph-6 {
    margin-bottom: 40px;
  }

  .career-form-block {
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .div-block-5 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .column-11 {
    background-size: 150%;
  }

  .branding-link-block {
    width: auto;
  }
}

#w-node-e11df53262e2-1c6885d9 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-e11df53262ef-1c6885d9 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-e11df53262f1-1c6885d9 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-e11df53262f2-1c6885d9 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-e11df5326300-1c6885d9 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-3159b98a5947-1c6885d9 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-f78cc2ddcbd3-b59c0f72 {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-f78cc2ddcbd9-b59c0f72 {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-f78cc2ddcbdf-b59c0f72 {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-f78cc2ddcbe5-b59c0f72 {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-ebeddb265d50-a53ffc97 {
  -ms-grid-column-align: end;
  justify-self: end;
}

@media screen and (max-width: 991px) {
  #w-node-ebeddb265d50-a53ffc97 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-e11df53262ef-1c6885d9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-e11df53262f1-1c6885d9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-e11df53262f2-1c6885d9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row-align: end;
    align-self: end;
  }

  #w-node-ebeddb265d4b-a53ffc97 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-ebeddb265d50-a53ffc97 {
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tuskergrotesk';
  src: url('../fonts/TuskerGrotesk-6500Medium.ttf') format('truetype'), url('../fonts/TuskerGrotesk-6500Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tuskergrotesk';
  src: url('../fonts/TuskerGrotesk-3500Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tuskergrotesk';
  src: url('../fonts/TuskerGrotesk-4500Medium.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.bg-img{
  background-image: url('images/imgHome.png');
}